@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>

    <Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
       <AuthorizeRouterView RouteData ="@routeData" DefaultLayout = "@rypeof(MainLayout)">
           <Authorizing>
               Please wait a 
           </Authorizing>
       </AuthorizeRouterView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
</CascadingAuthenticationState>
